In [10]:
import pandas as pd
import numpy as np

In [6]:
# Write a function to sort the list based on the first letter of the second element
def sort_fn(lst):
    lst.sort(key = lambda x : x[1])
    return lst
print(sort_fn(lst))
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [19]:
#  function to sort the list based on the last letter of the second element
def sorting(lst1):
    lst1.sort(key = lambda z : z[-1])
    return lst1
print(sorting([(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]))

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [17]:
def sort_list_last(ls):
    ls.sort(key = lambda v : v[-1])
    return ls
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [7]:
# Create a range from 1 to 8 & merge the given list together to create a new list of tuples
d1 = pd.Series(range(1,9))
lst2 = ["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
d2 = pd.Series(lst2)
d3 = pd.Series(zip(d2,d1))
d3.tolist()

[('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7)]

In [97]:
# a function to create a list consisted of the number of occurence of letter: a (all a's)
def letter(lst3):
    global count
    for i in lst3:
        count = 0
        for j in i:
            if (j == 'A') or (j =='a'):
                count+=1
        print(count, end = ' ')           
lst3=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
letter(lst3)

3 2 3 3 3 3 3

In [102]:
# a function to create a list consisted of the number of occurence of letter: a (all a's)
def letter(lst3):
    print(list(map(lambda x: x.count('a')+x.count('A'),lst3)))         
lst3=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
letter(lst3)

[3, 2, 3, 3, 3, 3, 3]

In [117]:
# function to filter all the vowels in a given string using filter
def fil(str1):
    vowels = ['A','E','I','O','U','a','e','i','o','u']
    print(list(filter(lambda y: y in vowels, str1)))
str1="Inceptz is one of the best institutes to read data science in chennai"
fil(str1)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [123]:
# function to create a list as the square of elements from the given list if the square is greater than 60
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
def sq(lst1):
    l=list(filter(lambda z: z**2 > 60, lst1))
    print(l)
    print(list(map(lambda z1: z1 ** 2, l)))
    
sq(lst1)

[8, 9, 10, 12, 14]
[64, 81, 100, 144, 196]

In [145]:
# take the words given below as list and write a function and use reduce to make it a sentence
'''Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best'''


li = ['Inceptez','provides','the','best','inclass','trainings','and','is','the','best']
def fun(li):
    print(' '.join(li))
fun(li)

Inceptez provides the best inclass trainings and is the best

In [156]:
# take the words given below as list and write a function and use reduce to make it a sentence
'''Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best'''

from functools import reduce
def red(li):
    li = ['Inceptez','provides','the','best','inclass','trainings','and','is','the','best']
    return reduce(lambda x, y: x +" "+ y, li)
print(red(li))

Inceptez provides the best inclass trainings and is the best