In [1]:
def square(y):
    return y*y

In [2]:
square(2)

4

In [ ]:
#anonymous function: it doesnt have a name
#lambda function
#syntax = lambda arguments: operation

In [3]:
s = lambda y: y*y
print(s(2))

4

In [5]:
x = lambda z, u, v: z+u+v
print(x(1,2,3))

6

In [6]:
num = [1,2,3,4,5,6,7,8,9,10]
res = []
for i in num:
    res.append(i**2)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#map- map(fn, iterables)- It computes operations of function over the iterable
square_lst = list(map(lambda x: x**2, num))
print(square_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
myclass = ['vahini', 'abdul', 'tajmul']
uppercase = list(map(str.upper, myclass))
uppercase

['VAHINI', 'ABDUL', 'TAJMUL']

In [11]:
myclass = ['vahini', 'abdul', 'tajmul']
uppercase = list(map(lambda z: z.upper(), myclass))
uppercase

['VAHINI', 'ABDUL', 'TAJMUL']

In [14]:
float_nums = [4.77,8.99,2.33,10.99,6,33]
float_lst = list(map(int, float_nums))
float_lst

[4, 8, 2, 10, 6, 33]

In [27]:
name = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
op = list(zip(name,index))
op

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [28]:
#use map nd generate same pattern like op: [('jack',1),('sparrow',2),('harry',3),('potter',4)]
name = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
list(map(lambda i,j: (i,j),name,index))

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [29]:
#zip
a = [1,2,3,4,5]
b = [6,7,8,9,10]
for i,j in zip(a,b):
    print(i)
    print(j)

1
6
2
7
3
8
4
9
5
10

In [30]:
#zip here stops the sum only with the shortest length of list and doesnt add more since the length of lists are different
a = [1,2,3,4,5,11,12]
b = [6,7,8,9,10]
for i,j in zip(a,b):
    print(i+j)

7
9
11
13
15

In [31]:
a = [1,2,3,4,5,11,12]
b = [6,7,8,9,10]
for i,j in zip(a,b):
    print(i,j)

1 6
2 7
3 8
4 9
5 10

In [34]:
a=['a','b','c','d']
for ind,x in enumerate(a):
    print(ind,x)

0 a
1 b
2 c
3 d

In [35]:
#list comprehension
lst = [1,2,3,4,5,6,7]
lstop = [i*3 for i in lst]
lstop

[3, 6, 9, 12, 15, 18, 21]

In [51]:
words = ['inceptez','card','btch13','pythn','class']
vowels = ['a','e','i','o','u']
res = []
for i in words:
    for j in i:
        if(j in vowels):
            res.append(i)
            break
res

['inceptez', 'card', 'class']

In [52]:
l = [i for i in words for j in i if j in vowels]
l #we get inceptez thrice bcz it has got 3 vowels(i,e,e)

['inceptez', 'inceptez', 'inceptez', 'card', 'class']

In [56]:
l = [i for i in words for j in i if j in vowels]
print(set(l))

{'card', 'class', 'inceptez'}

In [57]:
l = {i for i in words for j in i if j in vowels}
l

{'card', 'class', 'inceptez'}

In [ ]:
#we have set and dict comprehensions.but we doesnt have tuple comprehensions

In [65]:
#dictionary comprehension
key = ['a','b','c','d']
value = [1,2,3,4]
mydict = {k:v for (k,v) in zip(key,value)}
mydict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}